<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>API test</title>
</head>
<body>
<form action="/apireq" method="post">
    BTC
    <input type="radio" name="currency" value="BTC"> <br>
    ETH
    <input type="radio" name="currency" value="ETH"><br>
    DOGE
    <input type="radio" name="currency" value="DOGE"><br>

    <button>Get data</button>
</form>
<br><br><br><br>
<a href="/">Back to main page</a>
</body>
</html>